{% extends "base.html" %}

{% block body %}
<div class="center">
    <div class="flex">
        <div class="conte">
            <a href="/cifrado/generateParKey" class="button-link">
                Generar Par de claves
            </a>
        </div>
        <div class="conte">
            <a href="/cifrado/cifrar" class="button-link">
                Cifrado
            </a>
        </div>
       <div class="conte">
        <a href="/cifrado/descifrar" class="button-link">
            descifrar
        </a>
       </div>
    </div>
</div>

{% endblock%}