{% extends "base.html" %}

{% block body %}

<div class="conte">
    <div class="center">
        <form method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" required>
            <label for="fecha">Fecha</label>
            <input type="datetime-local" name="fecha" required>
            <label for="data">Data</label>
            <textarea name="data" id="dataT"></textarea>
            <input type="submit" value="Firmar" class="as">
        </form>
    </div>
</div>

{% endblock %}